<span>Montag</span>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Stunde</th>
        <th>Fach</th>
        <th>Klasse</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>3.-4. Stunde</td>
        <td>WUG</td>
        <td>FIA6A</td>
    </tr>
    </tbody>
</table>