{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>Stundenplan einfügen</h2>
        </div>

        {% for timetable in timetables %}
            {% include 'partials/timetable.html.twig' with {'timetable': timetable} %}
        {% endfor %}
    </div>
{% endblock %}
