{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>Stundenplan einfügen</h2>
        </div>

        {% include 'partials/timetable.html.twig' %}
    </div>
{% endblock %}
