{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h2>Kalender</h2>
    </div>

    <form class="form-row">
        <div class="col-auto">
            <div class="input-group mb-3">
                <input type="date" class="form-control" id="chooseDate">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-default" value="Anzeigen">
        </div>
    </form>

    {% include 'partials/calendar.html.twig' with {'calendar': calendar} %}

    <div class="btn-group">
        <button class="btn btn-default btn-sm" type="button" aria-haspopup="true" aria-expanded="false">
            Termin hinzufügen
        </button>
    </div>
</div>
{% endblock %}
