{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>Schülerliste</h2>
        </div>

        <span><strong>Klasse:</strong> {{ students.schoolClass.name }}</span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Schülername</th>
            </tr>
            </thead>
            <tbody>
            {% for entries in students.students %}
                <tr>
                    <td>{{ entries.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
