{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h2>Todo's</h2>
    </div>

    <div class="card">
        <!-- Standard-Panel-Inhalt -->
        <div class="card-header">Montag, den <b>19.11.2018</b></div>
        <!-- Tabelle -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Todo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    Kopiergeld einsammeln
                    <div class="float-right">
                        <input type="checkbox" style="margin-right: 10px;" /> <i class="fa fa-pencil-alt" style="margin-right: 10px;"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group">
        <button class="btn btn-default btn-sm" type="button" aria-haspopup="true" aria-expanded="false">
            Todo hinzufügen
        </button>
    </div>
</div>
{% endblock %}
