// fonts
$fontFamily: Arial;
$alternativeFontFamily: helvetica, sans-serif;

// colors
$white: #ffffff;
$alabasterWhite: #fafafa;
$whiteSmoke: #ececec;
$gainsboroWhite: #dddddd;
$suvaGrey: #888888;
$prussianBlue: #002244;
$botticelliBlue: #99a9b6;
$baliHaiBlue: #7D9AAA;
$neroBlack: #222222;
$deYorkGreen: #7cc576;
$dimGray: #666666;

// sizes
$width: 100%;